<!DOCTYPE>
<html>
<header>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/Css/co.css') }}" />
    <title>HVCode</title>

    <meta name="description" content="HVCode, un application de frais à votre disposition." />

</header>

<body>

<div class="connexion">
    <input class="poinput" name="Repasmidi" placeholder="Saisissez votre e-mail" type="text"></input>
    <input class="poinput" name="Repasmidi" placeholder="Saisissez votre mots de passe" type="password"></input>

    <!-- Squared FOUR -->

    <div class="squaredFour">
        <input type="checkbox" value="None" id="squaredFour" name="check" />
        <label for="squaredFour"></label>

    </div>
    <p class="posp">Resté connecté ?</p>
    <div style="height:50px; width:500px; position:relative; top:-122px; left: 150px; ">
        <a style="float:left;" href="#" class="button">Valider</a>
    </div>

</div>
</body>

<footer>

</footer>

</html>