<!DOCTYPE>
<html>
<header>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/Css/style.css')}}" />
    <title>HVCode</title>

    <meta name="description" content="HVCode, un application de frais à votre disposition." />

</header>

<body>

<div class="menuv">
    <div class="menustru">
        <a href="#">Accueil</a>
        <p class="soustitre">Fiche de frais</p>
        <p class="sousp">
            <a href="#">Consulter</a>
            <br>
            <a href="#">Saisir</a>
            <br>
            <a href="#">Valider</a>
        </p>
        <a class="deco" href="#">Se déconnecter</a>
    </div>
</div>
<div class="title">
    <h1>Saisir notes de frais</h1>
</div>

<br>

<div class="content">

    <h2>Période en cours</h2>
    <label>
        <select>
            <option>Janvier</option>
            <option>Février</option>
            <option>Mars</option>
            <option>Avril</option>
            <option>Mai</option>
            <option>Juin</option>
            <option>Juillet</option>
            <option>Août</option>
            <option>Septembre</option>
            <option>Octobre</option>
            <option>Novembre</option>
            <option>Décembre</option>
        </select>
    </label>

    <label>
        <select>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
        </select>
    </label>

    <div style="height:100px; width:1000px;">

        <h2>Frais aux forfaits</h2>
        <div class="inputpo">
            <input type= name="Repasmidi" placeholder="Nombres de repas midi" type="text"></input>
        </div>

        <div class="inputpo">
            <input name="Relaisetapes" placeholder="Nombres de relais étapes" type="text"></input>
        </div>

        <div class="inputpo">
            <input name="Nuite" placeholder="Nombres de la nuitée" type="text"></input>
        </div>
        <div class="inputpo">
            <input name="Km" placeholder="Saisissez la distance en Km" type="text"></input>
        </div>
    </div>

    <div style="height:100px; width:1000px;">
        <h2>Hors forfaits</h2>
        <div class="inputpo">
            <input name="datehorsforfait" placeholder="Saisissez la date" type="text"></input>
        </div>

        <div class="inputpo">
            <input name="libellehorsforfait" placeholder="Saisissez le libellé" type="text"></input>
        </div>

        <div class="inputpo">
            <input name="montanthorsforfait" placeholder="Saisissez le montant" type="text"></input>
        </div>
    </div>


</div>

</body>

<footer>

</footer>

</html>