<!DOCTYPE>
<html>
<header>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/Css/suivi.css')}}" />
    <title>HVCode</title>

    <meta name="description" content="HVCode, un application de frais à votre disposition." />

</header>

<body>

    <div class="menuv">
        <div class="menustru">
            <a href="#">Accueil</a>
            <p class="soustitre">Fiche de frais</p>
            <p class="sousp">
                <a href="#">Consulter</a>
                <br>
                <a href="#">Saisir</a>
                <br>
                <a href="#">Valider</a>
            </p>
            <a class="deco" href="#">Se déconnecter</a>
        </div>
    </div>
    <div class="title">
        <h1>Suivi du paiement des notes de frais</h1>
    </div>

    <br>

    <div class="content">

       <p class="pl">Nom</p>

        <label>
            
            <select>
              <option>Durand</option>
              <option>Durande</option>
              <option>Durando</option>
            </select>
        </label>
<p class="pl">Prénom</p>
 
        <label>
           
            <select>            
                
              <option>Durand</option>
              <option>Durande</option>
              <option>Durando</option>
            
            </select>
        </label>
        <p class="pl">Date de naissance</p>
        <label>
           
            <select>
              <option>Durand</option>
              <option>Durande</option>
              <option>Durando</option>
            

            </select>
        </label>

      
    </div>

</body>

<footer>

</footer>

</html>