<!DOCTYPE>
<html>
<header>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/Css/style.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/Css/tableau.css')}}" />
    <title>HVCode</title>

    <meta name="description" content="HVCode, un application de frais à votre disposition." />

</header>

<body>
    

    <div class="menuv">
        <div class="menustru">
            <a href="#">Accueil</a>
            <p class="soustitre">Fiche de frais</p>
            <p class="sousp">
                <a href="#">Consulter</a>
                <br>
                <a href="#">Saisir</a>
                <br>
                <a href="#">Valider</a>
            </p>
            <a class="deco" href="#">Se déconnecter</a>
        </div>
    </div>
    <div class="title">
        <h1>Saisir notes de frais</h1>
    </div>

    <br>

    <div class="content">
        
        <table>
        <tr>
        
        <td>Date</td>
                    <td>Labellé</td>

                    <td>Petit Déjeuner</td>

                    <td>Déjeuner</td>

                    <td>Diner</td>

                    <td>Nuit</td>

                    <td>Lieu</td>

                    <td>Commentaire</td>

                    <td>Motif</td>
        
        
        </tr>
            <tr>
            <td>.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
            
            </tr>
        </table>

      <!-- Mettre Tableau ici




    </div>


</body>

<footer>

</footer>

</html>